.button {
  border-radius: 5px;
  font-size: 22px;
  padding: 5px 10px;
}

.button-primary {
  background-color: aquamarine;
}

.button-secondary {
  background-color: burlywood;
}

.button-error {
  background-color: red;
}
